@using Lvshi.PaperProducts.Model.Table
@using Lvshi.PaperProducts.Ui.WebSite.Model
@model Lvshi.PaperProducts.Ui.WebSite.Model.Home.ModelViewIndex
@{
    Layout = "~/Views/Master/Index.cshtml";
    ViewBag.Title = "Index";
}
@section style{
    @*<link rel="stylesheet" href="/css/style.css" />*@
    <link rel="stylesheet" href="/css/body.css" />
    <link rel="stylesheet" href="/css/head.css" />
    <link rel="stylesheet" href="/css/home.css" />

    <link rel="stylesheet" href="/css/effect/carousel/slider.css" />

    <script src="/scripts/jquery-3.2.1.min.js"></script>
}

@Html.Action("Head", "Master")
@if (Model.Column != null)
{
    foreach (var keyValue in Model.Column)
    {
        if (keyValue.Value == null || keyValue.Value.Count <= 0)
        {
            continue;
        }
        switch (keyValue.Key.DisplayModel)
        {
            case EnumColumnTypeDisplayModel.Value.Conventional:
                {

                    break;
                }
            case EnumColumnTypeDisplayModel.Value.Carousel:
                {
                    var list = keyValue.Value.Where(item => !string.IsNullOrEmpty(item.EffectPicture)).ToList();
                    if (list.Count <= 0)
                    {
                        continue;
                    }
                    <div class="slider-container">
                        <div class="slider">
                            @foreach (var m in list)
                            {
                                <div class="slider__item">
                                    <img src="@m.EffectPicture" alt="@m.Title" />
                                    @if (!string.IsNullOrEmpty(m.Intro))
                                    {
                                        <span class="slider__caption">@m.Intro</span>
                                    }
                                </div>
                            }
                        </div>
                        <div class="slider__switch slider__switch--prev" data-ikslider-dir="prev">
                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13.89 17.418c.27.272.27.71 0 .98s-.7.27-.968 0l-7.83-7.91c-.268-.27-.268-.706 0-.978l7.83-7.908c.268-.27.7-.27.97 0s.267.71 0 .98L6.75 10l7.14 7.418z" /></svg></span>
                        </div>
                        <div class="slider__switch slider__switch--next" data-ikslider-dir="next">
                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13.25 10L6.11 2.58c-.27-.27-.27-.707 0-.98.267-.27.7-.27.968 0l7.83 7.91c.268.27.268.708 0 .978l-7.83 7.908c-.268.27-.7.27-.97 0s-.267-.707 0-.98L13.25 10z" /></svg></span>
                        </div>
                    </div>
                    break;
                }
            case EnumColumnTypeDisplayModel.Value.Tile:
                {
                    var list = keyValue.Value.Where(item => !string.IsNullOrEmpty(item.EffectPicture)).ToList();
                    if (list.Count <= 0)
                    {
                        continue;
                    }
                    var style = string.Format("style=width: {0:P2};", 1.0 / list.Count);
                    <div class="tile">
                        @foreach (var m in list)
                        {
                            <div class="list" @style>
                                <div class="pic-module">
                                    <div class="pic">
                                        <a href="@m.Url()" target="_self" title="@m.Title">
                                            <img src="@m.EffectPicture" alt="@m.Title" @Model.ErrorImage()>
                                        </a>
                                    </div>
                                </div>
                                <div class="new-module" style="display: none;">
                                    <h3>
                                        <a title="@m.Title" href="@m.Url()" target="_self">@m.Title</a>
                                    </h3>
                                </div>
                            </div>
                        }
                    </div>
                    break;
                }
            case EnumColumnTypeDisplayModel.Value.Roll:
                {
                    break;
                }
        }
    }
}

<div class="slider-container">
    <div class="slider">
        <div class="slider__item">
            <img src="/image/home/carousel/50755c41-857b-41b6-8008-e6cffd18d900.jpg" alt="" />
            <span class="slider__caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<a href="">Далее >></a> </span>
        </div>
        <div class="slider__item">
            <img src="/image/home/carousel/9d8d9762-08d7-46a3-bd7a-035ad13c53ac.jpg" alt="" />
        </div>
        <div class="slider__item">
            <img src="/image/home/carousel/f77d31b5-370d-4c5b-af17-626cb5a669da.jpg" alt="" />
        </div>
        <div class="slider__item">
            <img src="/image/home/carousel/b2174f71-51d7-4545-b768-3bb15c379b56.jpg" alt="" />
        </div>
    </div>
    <div class="slider__switch slider__switch--prev" data-ikslider-dir="prev">
        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13.89 17.418c.27.272.27.71 0 .98s-.7.27-.968 0l-7.83-7.91c-.268-.27-.268-.706 0-.978l7.83-7.908c.268-.27.7-.27.97 0s.267.71 0 .98L6.75 10l7.14 7.418z" /></svg></span>
    </div>
    <div class="slider__switch slider__switch--next" data-ikslider-dir="next">
        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13.25 10L6.11 2.58c-.27-.27-.27-.707 0-.98.267-.27.7-.27.968 0l7.83 7.91c.268.27.268.708 0 .978l-7.83 7.908c-.268.27-.7.27-.97 0s-.267-.707 0-.98L13.25 10z" /></svg></span>
    </div>
</div>

<div class="tile">
    <div class="list">
        <div class="pic-module">
            <div class="pic">
                <a href="/products_list/pmcId=17.html" target="_self" title="一生相伴">
                    <img src="/image/home/tile/38691b91-2079-45d2-a758-5736e02f0f07.jpg" alt="一生相伴" @Model.ErrorImage()>
                </a>
            </div>
        </div>
        <div class="new-module" style="display: none;">
            <h3>
                <a title="一生相伴" href="/products_list/pmcId=17.html" target="_self">一生相伴</a>
            </h3>
        </div>
    </div>
    <div class="list">
        <div class="pic-module">
            <div class="pic">
                <a href="/products_list/pmcId=18.html" target="_self" title="开心朵朵">
                    <img src="/image/home/tile/7d5f70b8-9fca-47ed-838b-b77d3739a075.jpg" alt="开心朵朵" @Model.ErrorImage()>
                </a>
            </div>
        </div>
        <div class="new-module" style="display: none;">
            <h3>
                <a title="开心朵朵" href="/products_list/pmcId=18.html" target="_self">开心朵朵</a>
            </h3>
            <p class="summary">
                开心朵朵的设计灵感来源于对未来美好生活的向往。该品牌包含茶语、尊贵、茉莉花、复古、开心宝贝等多个系列。产品采用100%四川生态竹浆，国际领先设备及独特工艺制造。纸质柔韧厚实，品类规格齐全，系列丰富多样，超高的性价比可以满足大众消费者的不同需求。 品牌理念：开心与否在于自己的决定。
            </p>
            <div class="linkarea">
                <a href="/products_list/pmcId=23.html" target="_self" title="茶语系列">茶语系列</a>
                <a href="/products_list/pmcId=24.html" target="_self" title="茉莉花系列">茉莉花系列</a>
                <a href="/products_list/pmcId=25.html" target="_self" title="尊贵系列">尊贵系列</a>
                <a href="/products_list/pmcId=26.html" target="_self" title="开心宝贝系列">开心宝贝系列</a>
                <a href="/products_list/pmcId=29.html" target="_self" title="小熊系列">小熊系列</a>
                <a href="/products_list/pmcId=27.html" target="_self" title="复古系列">复古系列</a>
                <a href="/products_list/pmcId=28.html" target="_self" title="经典系列">经典系列</a>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="pic-module">
            <div class="pic">
                <a href="/products_list/pmcId=21.html" target="_self" title="朵洁">
                    <img src="/image/home/tile/790191aa-2986-498b-b2ed-fa98d1a1f762.jpg" alt="朵洁" @Model.ErrorImage()>
                </a>
            </div>
        </div>
        <div class="new-module" style="display: none;">
            <h3>
                <a title="朵洁" href="/products_list/pmcId=21.html" target="_self">朵洁</a>
            </h3>
            <p class="summary">
                全新升级后的包装以蓝色经典为主调，配合独特长短纤配比，纸质柔韧厚实。品质与实惠共存，在价格上同样给消费者带来福利与惊喜。洁净、健康、舒适是我们给您的保证!　　 品牌理念：洁净生活从每一天清晨开始。
            </p>
            <div class="linkarea">
                <a href="/products_list/pmcId=30.html" target="_self" title="朵洁系列">朵洁系列</a>
            </div>
        </div>
    </div>
</div>

<div class="border">
    <div>
        <strong>网上商城</strong><em><span><a href="/products_list.html" target="_self">MORE+</a></span></em>
    </div>
    <div class="marquee">
        <ul class="mainul">
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=33.html" title="茶语卫卷" target="_self">
                            <img src="/image/home/roll/9a65b09a-4bfc-4068-9f4d-b371c1989739.jpg" id="FrontProducts_list01-1448451414508_33" alt="" title="茶语卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=32.html" title="茶语卫卷" target="_self">
                            <img src="/image/home/roll/380da333-0432-4de7-8902-de9e45334b3e.jpg" id="FrontProducts_list01-1448451414508_32" alt="" title="茶语卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=31.html" title="相守可湿水手帕纸" target="_self">
                            <img src="/image/home/roll/4fe0b7ce-2060-48de-be6d-fd1f434585c3.jpg" id="FrontProducts_list01-1448451414508_31" alt="" title="相守可湿水手帕纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=30.html" title="相守卫卷" target="_self">
                            <img src="/image/home/roll/500c9fe4-7807-4718-aa90-607c445a1d39.jpg" id="FrontProducts_list01-1448451414508_30" alt="" title="相守卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=29.html" title="相守可湿水抽纸" target="_self">
                            <img src="/image/home/roll/dd55f513-7588-4c77-8bf5-6237fc841d9b.jpg" id="FrontProducts_list01-1448451414508_29" alt="" title="相守可湿水抽纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=94.html" title="朵洁纸面巾" target="_self">
                            <img src="/image/home/roll/ba6cf991-e050-4e38-9df9-a77a8968709e.jpg" id="FrontProducts_list01-1448451414508_94" alt="" title="朵洁纸面巾" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=57.html" title="朵洁卫卷" target="_self">
                            <img src="/image/home/roll/f0501bcf-3158-4eea-8de3-fae3b363de08.jpg" id="FrontProducts_list01-1448451414508_57" alt="" title="朵洁卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=56.html" title="经典卫卷" target="_self">
                            <img src="/image/home/roll/394e89c5-e547-42d2-8b83-d0af15f878f4.jpg" id="FrontProducts_list01-1448451414508_56" alt="" title="经典卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=55.html" title="经典卫卷" target="_self">
                            <img src="/image/home/roll/c600f190-2c9f-44ee-97aa-c348842e8da7.jpg" id="FrontProducts_list01-1448451414508_55" alt="" title="经典卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=54.html" title="复古抽纸" target="_self">
                            <img src="/image/home/roll/cd2be6ef-88f5-4c2e-bb84-cbfcf2c9a23c.jpg" id="FrontProducts_list01-1448451414508_54" alt="" title="复古抽纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=53.html" title="小熊方巾" target="_self">
                            <img src="/image/home/roll/4877cc6a-c17c-46a6-ae39-62f00d0a79a1.jpg" id="FrontProducts_list01-1448451414508_53" alt="" title="小熊方巾" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=52.html" title="小熊条巾" target="_self">
                            <img src="/image/home/roll/ed61646e-e17a-4d6f-bef8-486cb0049c52.jpg" id="FrontProducts_list01-1448451414508_52" alt="" title="小熊条巾" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=51.html" title="小熊手帕纸" target="_self">
                            <img src="/image/home/roll/4fc01584-8e39-4903-a51f-ca7b899dc07b.jpg" id="FrontProducts_list01-1448451414508_51" alt="" title="小熊手帕纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=50.html" title="小熊对棒" target="_self">
                            <img src="/image/home/roll/286eba3f-7345-43c3-9ed2-220d458ecd26.jpg" id="FrontProducts_list01-1448451414508_50" alt="" title="小熊对棒" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=49.html" title="小熊卫卷" target="_self">
                            <img src="/image/home/roll/b087b827-33cf-4ff9-b43d-92941a95f9f3.jpg" id="FrontProducts_list01-1448451414508_49" alt="" title="小熊卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=48.html" title="开心宝贝棒纸" target="_self">
                            <img src="/image/home/roll/235fb099-52c4-42b8-8b38-d0819048c31e.jpg" id="FrontProducts_list01-1448451414508_48" alt="" title="开心宝贝棒纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=93.html" title="开心宝贝卫卷" target="_self">
                            <img src="/image/home/roll/fb310f21-7f43-48af-8cf3-4f3f3d3a719e.jpg" id="FrontProducts_list01-1448451414508_93" alt="" title="开心宝贝卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=46.html" title="尊贵卫卷" target="_self">
                            <img src="/image/home/roll/ef5ef5b4-8cd1-438b-bd99-803328c54e38.jpg" id="FrontProducts_list01-1448451414508_46" alt="" title="尊贵卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=45.html" title="尊贵抽纸" target="_self">
                            <img src="/image/home/roll/1a037d9c-1083-405c-a85f-1f6ca954a272.jpg" id="FrontProducts_list01-1448451414508_45" alt="" title="尊贵抽纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=44.html" title="尊贵方巾" target="_self">
                            <img src="/image/home/roll/395e6879-2dd1-44e0-a8a0-81b8de64ce16.jpg" id="FrontProducts_list01-1448451414508_44" alt="" title="尊贵方巾" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=43.html" title="茉莉花手帕纸" target="_self">
                            <img src="/image/home/roll/fbe84236-dbd8-4abb-b5fa-94da27e994e5.jpg" id="FrontProducts_list01-1448451414508_43" alt="" title="茉莉花手帕纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=42.html" title="茉莉花条巾" target="_self">
                            <img src="/image/home/roll/20318d8a-140c-423d-8726-d1b72d1e6d72.jpg" id="FrontProducts_list01-1448451414508_42" alt="" title="茉莉花条巾" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=41.html" title="茉莉花方巾" target="_self">
                            <img src="/image/home/roll/c4f4a33a-44ba-4ecc-818d-28eb9c9ff475.jpg" id="FrontProducts_list01-1448451414508_41" alt="" title="茉莉花方巾" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=40.html" title="茉莉花抽纸" target="_self">
                            <img src="/image/home/roll/f9d3f9f4-08ce-4afa-8c05-457a3ee8ec2e.jpg" id="FrontProducts_list01-1448451414508_40" alt="" title="茉莉花抽纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=39.html" title="茉莉花抽纸" target="_self">
                            <img src="/image/home/roll/4d352b2d-1ecd-49ea-91f9-ce9ad5576daa.jpg" id="FrontProducts_list01-1448451414508_39" alt="" title="茉莉花抽纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=38.html" title="茉莉花卫卷" target="_self">
                            <img src="/image/home/roll/fb5cf573-9edf-4f27-8dcd-3eb95420169d.jpg" id="FrontProducts_list01-1448451414508_38" alt="" title="茉莉花卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=37.html" title="茶语方巾" target="_self">
                            <img src="/image/home/roll/e3a32ce7-b20a-46c6-b335-63705023b952.jpg" id="FrontProducts_list01-1448451414508_37" alt="" title="茶语方巾" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=36.html" title="茶语抽纸" target="_self">
                            <img src="/image/home/roll/ddc26bf5-c580-4173-a725-aed0f41ba71b.jpg" id="FrontProducts_list01-1448451414508_36" alt="" title="茶语抽纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=35.html" title="茶语抽纸" target="_self">
                            <img src="/image/home/roll/fbc0c01f-958c-4a08-8bdf-ac70ab64dc16.jpg" id="FrontProducts_list01-1448451414508_35" alt="" title="茶语抽纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=34.html" title="茶语抽纸" target="_self">
                            <img src="/image/home/roll/affafbeb-65b7-48f0-9699-518cfb6d52a2.jpg" id="FrontProducts_list01-1448451414508_34" alt="" title="茶语抽纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=33.html" title="茶语卫卷" target="_self">
                            <img src="/image/home/roll/9a65b09a-4bfc-4068-9f4d-b371c1989739.jpg" id="FrontProducts_list01-1448451414508_33" alt="" title="茶语卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=32.html" title="茶语卫卷" target="_self">
                            <img src="/image/home/roll/380da333-0432-4de7-8902-de9e45334b3e.jpg" id="FrontProducts_list01-1448451414508_32" alt="" title="茶语卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=31.html" title="相守可湿水手帕纸" target="_self">
                            <img src="/image/home/roll/4fe0b7ce-2060-48de-be6d-fd1f434585c3.jpg" id="FrontProducts_list01-1448451414508_31" alt="" title="相守可湿水手帕纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=30.html" title="相守卫卷" target="_self">
                            <img src="/image/home/roll/500c9fe4-7807-4718-aa90-607c445a1d39.jpg" id="FrontProducts_list01-1448451414508_30" alt="" title="相守卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=29.html" title="相守可湿水抽纸" target="_self">
                            <img src="/image/home/roll/dd55f513-7588-4c77-8bf5-6237fc841d9b.jpg" id="FrontProducts_list01-1448451414508_29" alt="" title="相守可湿水抽纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=94.html" title="朵洁纸面巾" target="_self">
                            <img src="/image/home/roll/ba6cf991-e050-4e38-9df9-a77a8968709e.jpg" id="FrontProducts_list01-1448451414508_94" alt="" title="朵洁纸面巾" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=57.html" title="朵洁卫卷" target="_self">
                            <img src="/image/home/roll/f0501bcf-3158-4eea-8de3-fae3b363de08.jpg" id="FrontProducts_list01-1448451414508_57" alt="" title="朵洁卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=56.html" title="经典卫卷" target="_self">
                            <img src="/image/home/roll/394e89c5-e547-42d2-8b83-d0af15f878f4.jpg" id="FrontProducts_list01-1448451414508_56" alt="" title="经典卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=55.html" title="经典卫卷" target="_self">
                            <img src="/image/home/roll/c600f190-2c9f-44ee-97aa-c348842e8da7.jpg" id="FrontProducts_list01-1448451414508_55" alt="" title="经典卫卷" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic-module">
                    <div class="pic">
                        <a href="/products_detail/productId=54.html" title="复古抽纸" target="_self">
                            <img src="/image/home/roll/cd2be6ef-88f5-4c2e-bb84-cbfcf2c9a23c.jpg" id="FrontProducts_list01-1448451414508_54" alt="" title="复古抽纸" @Model.ErrorImage()>
                        </a>
                    </div>
                </div>
                <div class="pro-module">
                    <ul class="basic"></ul>
                    <p class="buttonP">
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

@Html.Action("Bottom", "Master")
@section scripts{
    <script src="/scripts/effect/carousel/slider.js"></script>
    <script src="/scripts/effect/carousel/jquery.marquee.min.js"></script>
    <script>
        $(function () {
            var $slider = $(".slider-container");
            if ($slider.length > 0) {
                $slider.ikSlider({
                    delay: 5000,
                    speed: 300
                });
            }

            var $tile = $(".tile");
            if ($tile.length > 0) {
                $tile.filter(function () {
                    return $(this).find(".pic-module").length > 0;
                }).on("mouseenter", ".list",
                    function () {
                        $(this).find(".new-module").fadeIn();
                    }).on("mouseleave", ".list",
                    function () {
                        $(this).find(".new-module").fadeOut();
                    });
            }

            var $mainul = $(".mainul");
            if ($mainul.length > 0) {
                var iMainulWidth = 0;
                var iMainulLength = 0;
                $mainul.children().each(function () {
                    iMainulWidth += $(this).outerWidth(true);
                    iMainulLength++;
                }).end().css({ width: iMainulWidth });

                var $mq = $mainul.marquee({
                    startVisible: true,
                    duration: iMainulLength * 1000 * 5,
                    delayBeforeStart: 0,
                    direction: 'left',
                    duplicated: true
                });

                $mainul.on("mouseenter",
                    "li",
                    function () {
                        $mq.marquee("pause");
                    }).on("mouseleave",
                    "li",
                    function () {
                        $mq.marquee("resume");
                    });
            }

        })
    </script>
}